* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chatbot {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  width: 350px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 1.5em;
  border-bottom: 2px solid #ddd;
}

.chatbox {
  flex: 1;
  padding: 15px;
  width:80vh;
  height:80vh;
  overflow-y: auto;
  list-style: none;
}

/* .incoming .bot-response {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  margin-bottom: 15px;
} */

.incoming .bot-response {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  margin:none;
  border-radius: 6px 6px 6px 2.5px;
  display: inline-block; 
}


#input-section {
  display: flex;
  align-items: center;
  padding: 15px;
  border-top: 2px solid #ddd;
}

#user-message {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

.send {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send:hover {
  background-color: #45a049;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
}

.zmdi {
  font-size: 1.5em;
}
