*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.dropdown {
    display: inline-block;
    cursor: pointer;
}

.icon-bar {
    width: 30px;
    height: 3px;
    background-color: #e5e1dcf9;
    margin: 6px;
    transition: 0.4s ease-in-out;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #373836;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(56, 55, 52, 0.893);
    z-index: 1;
}

.dropdown:hover .icon-bar {
    background-color: #1e251d;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #11191373;
    color: #fff;
    border-bottom: 2px solid #fff; /* Add an underline on hover */
    color : rgba(124, 132, 124, 0.8);
    transform: scale(1.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* General Styles for Header and Navigation */
header {
    background-color: rgba(0, 0, 0, 0.8); /* Add your desired background color */
    color: rgb(192, 0, 0); /* Set text color to white or your preferred color */
    padding: 5px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius:15px ;
}
  
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    overflow: hidden;background-color: #333;
    padding: 10px;
    background-color: rgba(169, 169, 169, 0.3);
    padding: 10px;
    clip-path: polygon(0% 0%, 95% 0%, 100% 100%, 5% 100%);
}
  
nav li {
    display: flex;
    margin-right: 20px; /* Adjust spacing between menu items as needed */
}
  
nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.large-link {
    font-size: 18px; /* Set the default font size */
    padding: 10px 20px; /* Set padding to increase the clickable area */
    text-decoration: none; /* Remove underline for the link */
    display: inline-block; /* Make the link behave like a block element */
    transition: transform 0.3s ease-in-out;
  }
  
nav a:hover {
    border-bottom: 2px solid #fff; /* Add an underline on hover */
    color : rgba(255, 0, 0, 0.912);
    transform: scale(1.5);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column; /* Stack items vertically on smaller screens */
        align-items: center; /* Center the list items vertically */
        margin-left: 0;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)), url(../Photos/build.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 10%;
    box-shadow: 10px 10px 20px 0px rgba(8, 7, 15, 0.75);
}

.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}

.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
}

.input-field{
    background: #eaeaea;
    margin: 20px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-width: 650px;
    transition: max-height 0.5s;
    overflow: hidden;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #999;
}

form p{
    text-align: left;
    font-size: 13px;
    margin: 20px;
}

form p a{
    text-decoration: none;
    color: #3c00a0;
}

.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background: #3c00a0;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}

.input-group{
    height: 280px;
}

.btn-field button.disable{
    background: #eaeaea;
    color: #555;  
}